<div class="relativity">
  <div class="header">
    <div class="logo">
      <%= image_tag "data:image/png;base64,#{assets['Elite-logo.png']}" %>
    </div>
    <div class="space"></div>
    <div class="name"><%= candidate.first_name %> #<%= candidate.id %></div>
  </div>
  <div class="photo">
    <div class="circle"></div>
  </div>
</div>

<div class="second-header">
  <div class="item">
    <div class="icon">
      <%= image_tag "data:image/png;base64,#{assets['pdf/phone.png']}" %>
    </div>
    <div class="text">
      <p>007 (916) 922 2817 <br>007 (964) 764 8320 </p>
    </div>
  </div>
  <div class="item">
    <div class="icon">
      <%= image_tag "data:image/png;base64,#{assets['pdf/comment.png']}" %>
    </div>
    <div class="text">
      <p>info@elitepersonalworld.com<br>www.elitepersonalworld.com</p>
    </div>
  </div>
  <div class="item">
    <div class="icon">
      <%= image_tag "data:image/png;base64,#{assets['pdf/map.png']}" %>
    </div>
    <div class="text">
      <p>Ul.Kuznetskiy,Most,19/2,Office 17,<br> Moskva 107031, Russia</p>
    </div>
  </div>
</div>
<table class="table-1">
  <tbody>
    <tr>
      <td>
        <div class="long-bullets">
          <div class="icon">
            <%= image_tag "data:image/png;base64,#{assets['pdf/grad.png']}" %>
          </div>
          <div class="center">
            <span>Образование</span>
          </div>
          <div class="text">
            <ul>
              <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sunt nihil, neque quidem! Incidunt placeat molestias explicabo fuga veritatis, soluta architecto, alias et aspernatur officia ratione quae laborum dignissimos. Nobis!</li>
              <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt pariatur perferendis enim cupiditate. Id, dicta beatae corporis obcaecati mollitia esse, cum, ullam saepe ipsam delectus error officiis quibusdam consequatur facere.</li>
            </ul>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="long-bullets">
          <div class="icon">
            <%= image_tag "data:image/png;base64,#{assets['pdf/case.png']}" %>
          </div>
          <div class="center">
            <span>Опыт</span>
          </div>
          <div class="text">
            <ul>
              <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sunt nihil, neque quidem! Incidunt placeat molestias explicabo fuga veritatis, soluta architecto, alias et aspernatur officia ratione quae laborum dignissimos. Nobis!</li>
              <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt pariatur perferendis enim cupiditate. Id, dicta beatae corporis obcaecati mollitia esse, cum, ullam saepe ipsam delectus error officiis quibusdam consequatur facere.</li>
            </ul>
          </div>
        </div>
      </td>
      
    </tr>
  </tbody>
</table>
<table class="table-2">
  <tbody>
    <tr>
      <td>
        <div class="dots">
          <div class="icon">
            <%=  image_tag "data:image/png;base64,#{assets['pdf/profile.png']}" %>
          </div>
          <div class="center">
            <span>Профиль</span>
          </div>
          <div class="text">
            <ul>
              <li>rossiyskaya federacia.</li>
              <li>Lorem ipsum dolor.</li>
              <li>Lorem ipsum dolor.</li>
              <li>Lorem ipsum dolor.</li>
            </ul>
          </div>
          <div class="text">
            <ul>
              <li>Lorem ipsum dolor.</li>
              <li>Lorem ipsum dolor.</li>
              <li>Lorem ipsum dolor.</li>
              <li>Lorem ipsum dolor.</li>
            </ul>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="dots">
          <div class="icon">
            <%= image_tag "data:image/png;base64,#{assets['pdf/lang.png']}" %>
          </div>
          <div class="center">
            <span>Языки</span>
          </div>
          <div class="text cntred">
            <ul>
              <li>lorem lorem.</li>
              <li>Lorem ipsum dolor.</li>
              <li>Lorem ipsum dolor.</li>
              <li>Lorem ipsum dolor.</li>
            </ul>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="dots">
          <div class="icon">
            <%= image_tag "data:image/png;base64,#{assets['pdf/mouse.png']}" %>
          </div>
          <div class="center">
            <span>Навыки</span>
          </div>
          <div class="text cntred">
            <ul>
              <li>Lorem ipsum dolor.</li>
              <li>Lorem ipsum dolor.</li>
              <li>Lorem ipsum dolor.</li>
              <li>Lorem ipsum dolor.</li>
             </ul>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
  