# encoding: utf-8

<div class="pdf-header">
  <div class="logo">
     
    
  </div> 
  <div class="name">
    <span>
      candidate name
    </span>
  </div>
</div>
<div class="secondary-header">
   <div class="part part-one">
      <div class="icon"></div>
      <p>007 (916) 922 2817 <br>
      007 (964) 764 8320 </p>
   </div>
   <div class="part part-two">
      <div class="icon"></div>
      <p>info@elitepersonalworld.com <br>
      www.elitepersonalworld.com </p>
   </div>
   <div class="part part-three">
      <div class="icon"></div>
      <p>Ul.Kuznetskiy,Most,19/2,Office 17, Moskva 107031, Russia</p>
   </div>
</div>
<div class="col col-left">
    <div class="edu">
      <div class="icon">
        
      </div>
      <div class="titlee">
         ОБРАЗОВАНИЕ
      </div>
      <div class="content">
          <div class="sub-content edu-level">HIGHER EDUCATION ! </div>
          <div class="sub-content edu-expl">
            <p>Moscow state University I From Sep 2000 to June 2004, finished with honors </p> 
          </div>
      </div>
    </div>
    <div class="exp">
      <div class="icon">
        
      </div>
      <div class="titlee">
         ОПЫТ
      </div>
      <div class="content">
          <div class="sub-content edu-level">HIGHER EDUCATION ! </div>
          <div class="sub-content edu-expl">
            <p>Moscow state University I From Sep 2000 to June 2004, finished with honors </p> 
          </div>
        
      </div>

    </div>
</div>
<div class="col col-right">
    <div class="profile">
      <div class="icon">
        
      </div>
      <div class="titlee">
        ПРОФИЛЬ
      </div>
      <div class="content">
        <div class="cleft">
            <div class="sub-item"> single </div>
            <div class="sub-item"> russian federation </div>
            <div class="sub-item"> детей(ребенок) 2 </div>
            <div class="sub-item"> нет вод. прав </div>

        </div>

        <div class="cright">
            <div class="sub-item"> nanny </div>
            <div class="sub-item"> веc 55 </div>
            <div class="sub-item"> рост 175 </div>
            <div class="sub-item"> нет авто </div>
        </div>

      </div>


    </div>
    <div class="lang">
      <div class="icon">
        
      </div>
      <div class="titlee">
        ЯЗЫКИ
      </div>
      <div class="content">
            <div class="sub-item"> нет вод. прав </div>
      </div>

    </div>
    <div class="skills">
      <div class="icon">
        
      </div>
      <div class="titlee">
        НАВЫКИ
      </div>
      <div class="content">
            <div class="sub-item"> нет вод. joijio gfdgjoidfgправ </div>
      </div>

    </div>
</div>
















