<!DOCTYPE html>
<html>
<head>
  <title>CV</title>
  <meta name="pdfkit-page_size" content="Letter"/>
  <meta name="pdfkit-margin_top" content="0.2in"/>
  <meta name="pdfkit-margin_right" content="0in"/>
  <meta name="pdfkit-margin_bottom" content="0in"/>
  <meta name="pdfkit-margin_left" content="0in"/>
  <style>
    <%= Rails.application.assets.find_asset('pdf.min.css').to_s %>
  </style>
</head>
<body>
  <%= yield %>
</body>
</html>